table input:read-only {
    background: none;
    padding: 0;
    border: none;
    color: inherit;
    width: 100%;
}

tr.unactive_site {
    background-color: #ffc1c1;
}

tr.unactive_site:hover {
    background-color: #ffafaf!important;
}

.table-striped tbody tr.unactive_site:nth-of-type(odd) {
    background-color: #ffb5b5;;
}

.top_logo, .top_logo_mini  {
    font-family: 'Anton', sans-serif;
    font-size: 1.35rem;
    color: #d4d6dc;
    pointer-events: none;
    white-space: nowrap;
    transition: 0.3s;
}

.top_logo_mini {
    position: absolute;
    opacity: 0;
}

.c-sidebar.c-sidebar-minimized .top_logo {
    opacity:0;
}

.c-sidebar.c-sidebar-minimized .top_logo_mini {
    opacity: 1;
}